<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @note.name %>
</p>

<p>
  <b>Description:</b>
  <%= @note.description %>
</p>


<%= link_to 'Edit', edit_tapir_entities_note_path(@note) %> |
<%= link_to 'Back', tapir_entities_notes_path %>
