<h1>Listing task_run_sets</h1>

<table>
  <tr>
    <th>ID</th>
    <th># of Task Runs</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @task_run_sets.each do |task_run_set| %>
  <tr>
    <td><%= task_run_set.id %></td>
    <td><%= task_run_set.task_runs.count %></td>
    <td><%= link_to 'Show', task_run_set %></td>
    <td><%= link_to 'Edit', edit_tapir_task_run_set_path(task_run_set) %></td>
    <td><%= link_to 'Destroy', task_run_set, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task Run set', new_tapir_task_run_set_path %>
