<p id="notice"><%= notice %></p>
<script>
function check(field) {
  for (i = 0; i < field.length; i++) {
    if(field[i].checked == true)
      field[i].checked = false;
    else
      field[i].checked = true;
  }
}
</script>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Available Entities:</b><br/>
  <form name="task_runner" id="run_task" action="/tapir/run_task" method="POST"> 
  <input type="hidden" name="task_name" id="task_name" value="<%=@task.name%>"><br/>
  <input type="checkbox" name="Toggle" value="Toggle" onClick="check(document.task_runner)"><br/>
  <% @task.candidates.each do |entity| %>
    <input id="/tapir/entities/<%=entity.id%>" type="checkbox" name="entities[<%="#{entity._type}##{entity.id}"%>]" /><%= "#{entity}" %><br/>
  <% end %>
  <input id="submit" type="submit" /><br/>
  </form>
  </p>

<%= link_to 'Back', tapir_tasks_path %>

