<h1>Listing entity_mappings</h1>

<table>
  <tr>
    <th>Child</th>
    <th>Child type</th>
    <th>Parent</th>
    <th>Parent type</th>
    <th>Task run</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entity_mappings.each do |entity_mapping| %>
  <tr>
    <td><%= entity_mapping.child_id %></td>
    <td><%= entity_mapping.child_type %></td>
    <td><%= entity_mapping.parent_id %></td>
    <td><%= entity_mapping.parent_type %></td>
    <td><%= entity_mapping.task_run_id %></td>
    <td><%= link_to 'Show', entity_mapping %></td>
    <td><%= link_to 'Edit', edit_tapir_entity_mapping_path(entity_mapping) %></td>
    <td><%= link_to 'Destroy', entity_mapping, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Object mapping', new_entity_mapping_path %>
