<p id="notice"><%= notice %></p>
<p>
<%= render 'display' %>
</p>
<p>
<b>Run Task:</b>
  <form name="task_runner" id="run_task" action="/tapir/run_task" method="POST"> 
    <input type="hidden" name="entities" value=<%="#{@entity._type}##{@entity._id}" %></input>
    <select>
    <% @entity.tasks.each do |t| %>
      <option value="<%=t.name%>" name="task_name"><%=t%></option>
    <% end %>
    </select>
    <input type="Submit" value="Run Task"></input>
  </form>
  
</p>

<p>
<b>Task Runs:</b>
  <ul>
  <% @entity.task_runs.each {|r|%>
    <li><%= link_to r, tapir_task_run_path(r)  %></li>
  <% } %>
  </ul>
</p>

<p>
<b>Parents:</b>
  <ul>
  <% @entity.parents.each {|p|%>
    <li><%= link_to p, eval("tapir_entities_#{p.underscore}_path(p)")  %></li>
  <% } %>
  </ul>
</p>  

<p>
<b>Children:</b>
  <ul>
  <% @entity.children.each {|c|%>
    <li><%= link_to c, eval("tapir_entities_#{c.underscore}_path(c)")  %></li>
  <% } %>
  </ul>
</p>

<%= link_to "Destroy", tapir_entity_path(@entity, :type => @entity._type), :confirm => 'Are you sure?', :method => :delete %>| 
<%= link_to 'Edit', edit_tapir_entity_path(@entity, :type => @entity._type) %> |
<%= link_to 'Back', tapir_entities_path %>
