<p id="notice"><%= notice %></p>
<p>
<%= render 'display' %>
</p>

<%= render 'task_runner' %>

<p>
<b>Task Runs:</b>
  <ul>
  <% @entity.task_runs.each {|r|%>
    <li><%= link_to r, tapir_task_run_path(r)  %></li>
  <% } %>
  </ul>
</p>

<p>
<b>Parents:</b>
  <ul>
  <% @entity.parents.each {|p|%>
    <li><%= link_to p, p.id.to_s  %></li>
  <% } %>
  </ul>
</p>  

<p>
<b>Children:</b>
  <ul>
  <% @entity.children.each {|c|%>
    <li><%= link_to c, c.id.to_s  %></li>
  <% } %>
  </ul>
</p>

<%= link_to "Destroy", tapir_entity_path(@entity, :type => @entity._type), :confirm => 'Are you sure?', :method => :delete %>| 
<%= link_to 'Edit', edit_tapir_entity_path(@entity, :type => @entity._type) %> |
<%= link_to 'Back', tapir_entities_path %>
