
<b>Task:</b><br/>
<%= @task.name %>

<table>
  <tr>
    <th>Input:</th>
  </tr>
  <% @objects.each do |o| %>
  <tr>
    <td><a href="<%=request.url%>/../../<%=o.underscore%>s/<%=o.id%>"> <%=o.to_s%></a><br/></td>
  </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>Task Name:</th>
    <th>Task Log:</th>
  </tr>
  <% @task_runs.each do |task_run| %>
  <tr>
	<td><%= task_run.task_name %></td>
	<td><%= task_run.task_log.gsub("\n", "<br/>").html_safe %></td>
  </tr>
  <% end %>
</table>


