<p>
  <b>Task Name:</b>
  <%= @task_run.task_name %>
</p>

<p>
  <b>Task entity:</b>
  <%= @task_run.task_entity_id %>
</p>

<p>
  <b>Task entity type:</b>
  <%= @task_run.task_entity_type %>
</p>

<p>
  <b>Task options hash:</b>
  <%= @task_run.task_options_hash %>
</p>

<p>
  <b>Task log:</b><br/>
  <%= simple_format @task_run.task_log %>
</p>

<p>
  <b>Associated Objects :</b>
  <ul>
    <% @task_run.entity_mappings.each {|o|%>
      <li><%= link_to o, o %></li>
    <% } %>
  </ul>
</p>


<%= link_to "Destroy", @task_run, :confirm => 'Are you sure?', :method => :delete %>
<%= link_to 'Back', tapir_task_runs_path %>
