<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @net_svc.name %>
</p>

<p>
  <b>Fingerprint:</b>
  <%= @net_svc.fingerprint %>
</p>

<p>
  <b>Port:</b>
  <%= @net_svc.port_num %>
</p>

<p>
<b>Parents:</b>
  <ul>
  <% @net_svc.parents.each {|p|%>
    <li><%= link_to p, eval("tapir_entities_#{p.underscore}_path(p)")  %></li>
  <% } %>
  </ul>
</p>  

<p>
<b>Children:</b>
  <ul>
  <% @net_svc.children.each {|c|%>
    <li><%= link_to c, eval("tapir_entities_#{c.underscore}_path(c)")  %></li>
  <% } %>
  </ul>
</p>

<p>
<b>Tasks:</b>
  <ul>
  <% @net_svc.tasks.each {|t|%>
    <li><%= link_to t, eval("tapir_#{t.underscore}_path(t.name)")  %></li>
  <% } %>
  </ul>
</p>


<%= link_to 'Edit', edit_tapir_entities_net_svc_path(@net_svc) %> |
<%= link_to "Destroy", @net_svc, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', tapir_entities_snet_svcs_path %>
