<p id="notice"><%= notice %></p>

<p>
  <b>Range:</b>
  <%= @net_block.range %>
</p>

<p>
  <b>Description:</b>
  <%= @net_block.description %>
</p>

<p>
<b>Parents:</b>
  <ul>
  <% @net_block.parents.each {|p|%>
    <li><%= link_to p, eval("tapir_entities_#{p.underscore}_path(p)")  %></li>
  <% } %>
  </ul>
</p>  

<p>
<b>Children:</b>
  <ul>
  <% @net_block.children.each {|c|%>
    <li><%= link_to c, eval("tapir_entities_#{c.underscore}_path(c)")  %></li>
  <% } %>
  </ul>
</p>

<p>
<b>Tasks:</b>
  <ul>
  <% @net_block.tasks.each {|t|%>
    <li><%= link_to t, eval("tapir_#{t.underscore}_path(t.name)")  %></li>
  <% } %>
  </ul>
</p>

<%= link_to 'Edit', edit_tapir_entities_net_block_path(@net_block) %> |
<%= link_to "Destroy", @net_block, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', tapir_entities_net_blocks_path %>
