<h1>Listing parsable_files</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parsable_files.each do |parsable_file| %>
  <tr>
    <td><%= parsable_file.name %></td>
    <td><%= parsable_file.type %></td>
    <td><%= parsable_file.path %></td>
    <td><%= link_to 'Show', parsable_file %></td>
    <td><%= link_to 'Edit', edit_tapir_entities_parsable_file_path(parsable_file) %></td>
    <td><%= link_to 'Destroy', parsable_file, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Parsable file', new_tapir_entities_parsable_file_path %>
