<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @parsable_file.name %>
</p>

<p>
  <b>Type:</b>
  <%= @parsable_file.type %>
</p>

<p>
  <b>Path:</b>
  <%= @parsable_file.path %>
</p>

<p>
<b>Parents:</b>
  <ul>
  <% @parsable_file.parents.each {|p|%>
    <li><%= link_to p, eval("tapir_entities_#{p.underscore}_path(p)")  %></li>
  <% } %>
  </ul>
</p>  

<p>
<b>Children:</b>
  <ul>
  <% @parsable_file.children.each {|c|%>
    <li><%= link_to c, eval("tapir_entities_#{c.underscore}_path(c)")  %></li>
  <% } %>
  </ul>
</p>

<p>
<b>Tasks:</b>
  <ul>
  <% @parsable_file.tasks.each {|t|%>
    <li><%= link_to t, eval("tapir_#{t.underscore}_path(t.name)")  %></li>
  <% } %>
  </ul>
</p>

<p>
<b>Task Runs:</b>
  <ul>
  <% @parsable_file.task_runs.each {|r|%>
    <li><%= link_to r, task_run_path(r.id)  %></li>
  <% } %>
  </ul>
</p>


<%= link_to 'Edit', edit_tapir_entities_parsable_file_path(@parsable_file) %> |
<%= link_to "Destroy", @parsable_file, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', tapir_entities_parsable_files_path %>
