<p id="notice"><%= notice %></p>

<p>
  <b>Parent:</b>
  <%= link_to @object_mapping.get_parent.class, @object_mapping.get_parent %>
</p>

<p>
  <b>Child:</b>
  <%= link_to @object_mapping.get_child.class, @object_mapping.get_child %>
</p>

<p>
  <b>Task run:</b>
  <%= link_to TaskRun, TaskRun.find_by_id(@object_mapping.task_run_id) %>
</p>


<%= link_to 'Edit', edit_object_mapping_path(@object_mapping) %> |
<%= link_to 'Back', object_mappings_path %>
