<p id="notice"><%= notice %></p>

<p>
  <b>Account Name:</b>
  <%= @account.account_name %>
</p>

<p>
  <b>Service Name:</b>
  <%= @account.service_name %>
</p>

<p>
  <b>Pretty URI:</b>
  <%= link_to @account.web_uri, @account.web_uri %>
</p>

<p>
  <b>Check URI:</b>
  <%= link_to @account.check_uri, @account.check_uri %>
</p>

<p>
  <b>User:</b>
  <% user = User.find_by_id @account.user_id %>
  <%= link_to user,tapir_entities_user_path(user) %>
</p>


<%= link_to 'Edit', edit_tapir_entities_account_path(@account) %> |
<%= link_to "Destroy", @account, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', tapir_entities_accounts_path %>
