<p id="notice"><%= notice %></p>

<p>
  <b>Account Name:</b>
  <%= @account.account_name %>
</p>

<p>
  <b>Service Name:</b>
  <%= @account.service_name %>
</p>

<p>
  <b>URI:</b>
  <%= link_to @account.uri, @account.uri %>
</p>

<p>
  <b>User:</b>
  <% user = User.find_by_id @account.user_id %>
  <%= link_to user,user_path(user) %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
